 :root{
    --orange : (oran)
 }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: white;
  backdrop-filter: blur(15px);
  padding: 15px 0;
  z-index: 10;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0px;
  width: 100%;
}
.container {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__text {
    color: black;
    font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;

}
.header__nav {
   
   
}
.header__list {
    display: flex;
    list-style: none;
    

    gap: 30px;
   
}
.header__item {
    color: black;
  margin: 10px 20px;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
}
.header__link {
    flex-basis: 102px;
height: 44px;
top: 47px;
left: 1076px;
border-radius: 8px;
padding-top: 10px;
padding-right: 16px;
padding-bottom: 10px;
padding-left: 16px;
gap: 10px;

    margin: 10px 20px;
    text-decoration: none;
    color: black;
}

.header__link:hover{
    color: #FF922F;
}
.header__link-gren {
    text-decoration: none;
flex-basis: 102px;
height: 44px;
top: 47px;
left: 1076px;
border-radius: 8px;
padding-top: 10px;
padding-right: 16px;
padding-bottom: 10px;
padding-left: 16px;
gap: 10px;



    border-radius: 8px;
  background-color: #407f55;
  color: white;
}
.header__link-yelo{
    text-decoration: none;
    flex-basis: 102px;
height: 44px;
top: 47px;
left: 1076px;
border-radius: 8px;
padding-top: 10px;
padding-right: 16px;
padding-bottom: 10px;
padding-left: 16px;
gap: 10px;


    color: white;
    border-radius: 8px;
  background-color: #fb9c46;
}



/* header end */

/* learn */


.learn {
}

.learn__wrapper {
    display: flex;
}
.learn__info {
}
.learn__best {
    width: 130px;
height: 24px;
top: 212px;
left: 110px;
font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;


}
.learn__title {
    font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 48px;

line-height: 160%;
letter-spacing: 3.5%;

}
.learn__text {
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 18px;

line-height: 160%;
letter-spacing: 0%;

}
.btn-green {
    background-color: green;
    color: white;
    margin: 19px 79px;
    font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

}
.learn__best-past {
}
.learn__tx {
}